{% extends "base.html.twig" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <ul class="p-4">
        <li><a href="{{ path('gedmo') }}">Test Gedmo</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
