{% extends 'base.html.twig' %}

{% block title %}Test Knplabs - DoctrineBehaviors bundle{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col p-4">
				<ul>
					<li>
						<a href="{{ path('knplabs_doctrine_behaviors_translatable_category') }}">Translatable Category</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
